.wrapper {
	padding: 20px;
	text-align: center;
	font-family: 'Arial', sans-serif;
	border-radius: 10px;
	/* background-color: #f0f0f0; */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .title {
	font-size: 32px;
	color: #333;
	margin-bottom: 20px;
  }
